<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<!-- <bean id="evenementDAO" class="com.objectif.informatique.alerte.dao.EvenementDAO">
		<property name="dataSource" ref="dataSource" />
	</bean> -->
	<bean id="evenementDAO" class="com.objectif.informatique.alerte.service.EvenementServiceImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
</beans>