<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 2.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<!-- <property name="hibernate.dialect">net.sf.hibernate.dialect.MySQLDialect</property> -->
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://192.168.1.101:3306/alerte</property>
<property name="hibernate.connection.username">vdibi</property>
<property name="hibernate.connection.password">vdibi</property>
<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="show_sql">true</property>
<!-- <mapping resource="evenement.hbm.xml"/>
<mapping resource="responsable.hbm.xml"/>
<mapping resource="dossier.hbm.xml"/>
<mapping resource="document.hbm.xml"/> -->
</session-factory>
</hibernate-configuration>