<!DOCTYPE html>

<html lang="en" ng-app="calendarDemoApp" id="top">
<head>
<meta charset="UTF-8">
<title>Planning</title>
<link rel="icon" href="favicon.ico" />
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="css/fullcalendar.css" />
<link rel="stylesheet" href="css/calendarDemo.css" />
<link rel="stylesheet" href="css/boolean.css" />

<script src="js/jquery.js"></script>
<script src="js/jquery-ui.js"></script>
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="js/angular.js"></script>
<script
	src="http://code.angularjs.org/1.0.8/i18n/angular-locale_fr-fr.js"></script>
<script
	src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
<script src="js/fullcalendar.js"></script>
<script src="js/gcal.js"></script>
<script src="js/calendar.js"></script>
<script src="js/calendarDemo.js"></script>

<!-- ngDialog -->
<link rel="stylesheet" href="css/ngDialog.css" />
<link rel="stylesheet" href="css/ngDialog-theme-default.css" />
<link rel="stylesheet" href="css/ngDialog-theme-plain.css" />
<script src="js/ngDialog.js"></script>
<script src="js/ngDialogCtrl.js"></script>

<script src="js/angular-ressource.js"></script>
<script src="js/services.js"></script>
<script src="js/convert.js"></script>
</head>

<body data-spy="scroll">
	<div role="main">
		<div class="container">
			<section id="directives-calendar" ng-init='init()'
				ng-controller="CalendarCtrl">
				<div class="page-header">
					<h1>Alerte - ET - MOI</h1>
				</div>
				<div class="well">
					<div class="row-fluid">
						<tabset> <!-- #############	AFFICHAGE EN MODE CALENDRIER		############## -->

						<tab select="renderCalender(myCalendar1);"> <tab-heading>
						<i class="glyphicon glyphicon-calendar"></i>Vue cendrier </tab-heading>
	<!-- ****************************************************************Panneau de gauche*************************************************************** -->
						<div class="span4">
							<h3>Filtres :</h3>
							<div class="well">
								<!-- <h4>AngularJS Implementation</h4>
								<p>This switch is implemented in AngularJS using a Twitter
									Bootstrap button and some of Damian's styling. It responds
									correctly to truthy and falsey values.</p>
								isTest: {{isTest}} <br> -->
								<button type="button" class="btn btn-primary" ng-click="addEvent()">Afficher les evenements</button>
							<hr>
							<h4>Dossier</h4>
							<select ng-model="userSelected">
								<option value="">tous</option>
								<option ng-repeat="user in users" value="{{user}}">{{user.prenResp}}
									; {{user.idResp}}</option>
							</select>
								<hr>
							<h4>Status</h4>
							<input type="radio" ng-model="order" value="dateEchEvt">Traités<br> 
							<input type="radio" ng-model="order" value="nomEvt">Non traités<br> 
							<input type="radio" ng-model="order" value="toto">Tous<br>
							<hr>							
						</span>
							</div>
						</div>
	<!-- ****************************************************************Fin Panneau de gauche*************************************************************** -->
		<!-- ****************************************************************Panneau de droite*************************************************************** -->
						<div class="span8">
							<div class="alert-success calAlert"
								ng-show="alertMessage != undefined && alertMessage != ''">
								<h4>{{alertMessage}}</h4>
							</div>
							<div class="btn-toolbar">
								<p class="pull-right lead">Calendrier</p>
								<div class="btn-group">
									<button class="btn btn-success"
										ng-click="changeView('agendaDay', myCalendar1)">Jour</button>
									<button class="btn btn-success"
										ng-click="changeView('agendaWeek', myCalendar1)">Semaine</button>
									<button class="btn btn-success"
										ng-click="changeView('month', myCalendar1)">Mois</button>
								</div>
							</div>
							<!-- <div class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>-->
							<div class="calendar" ng-model="eventSources"
								calendar="myCalendar1" config="uiConfig.calendar"
								ui-calendar="uiConfig.calendar"></div>
						</div>
			<!-- ****************************************************************Panneau de droite*************************************************************** -->
			
			<!-- ****************************************************************AFFICHAGE EN MODE LISTE	*************************************************************** -->
						</tab> <!-- #############	AFFICHAGE EN MODE LISTE		############## --> 
						<tab select="renderCalender();">
							<tab-heading> <i class="glyphicon glyphicon-list"></i> Vue liste </tab-heading>
						<div class="span4">
							<span class="btn boolean" ng-click="showMyCalendar(showCal)"
								ng-model="showCal"> <span class="on btn-primary"
								ng-show="showCal">ON</span> <span class="off btn-default"
								ng-hide="showCal">OFF</span>
							</span>
							<h3>Filtres :</h3>
							<h4>Utilisateurs</h4>

							<select ng-model="userSelected">
								<option value="">tous</option>
								<option ng-repeat="user in users" value="{{user}}">
								{{user.prenResp}} ; {{user.idResp}}</option>
							</select>
							<hr>
							<h4>Tri</h4>
							<input type="radio" ng-model="order" value="dateEchEvt">date
							d'échéancet<br> <input type="radio" ng-model="order"
								value="nomEvt">nom de l'événement<br> <input
								type="radio" ng-model="order" value="toto">toto<br>
							<hr>
							<h4>Recherche :</h4>
							(dans le nom de l'évènement) <span class"glyphiconglyphicon-search"></span><input
								ng-model="recherche"><br>
							<hr>
						</div>
						<div class="span8">
							<div class="alert-success calAlert"
								ng-show="alertMessage != undefined && alertMessage != ''">
								<h4>{{alertMessage}}</h4>
							</div>

							<div>
								<!-- ng-repeat="month in months"  {{month.nom}} ###### -->
								<ul class="events">
									<li
										ng-repeat="event in listeEvt | filter:{nomEvt: recherche, responsable.id: userSelected} | orderBy:order">
										<div class="btn-group">
											<button type="button" class="btn btn-info">{{event.nomEvt}}</button>
											<button type="button" class="btn btn-info">{{event.dateEchEvt
												| date:"dd/MM/yyyy"}}</button>
										</div>
										<div class="btn-group">
											<button type="button" ng-click="detailEvt(event)"
												class="btn ">detail</button>
											<button type="button" ng-click="detailDos(event.idDos)"
												class="btn ">dossier</button>
											<button type="button" ng-click="deleteEvt(event)"
												class="btn ">supprimer</button>

											<!--  <button type="button"  ng-click="detailEvt(event)" class="btn btn-success">detail</button>
												  <button type="button"  ng-click="detailDos(event.idDos)" class="btn btn-warning">dossier</button>
												  <button type="button"  ng-click="deleteEvt(event.idEvt)" class="btn btn-danger">DELETE</button>
												  -->
										</div>
									</li>
								</ul>
							</div>
						</div>
						</tab> <!-- Ajouter un évènement --> 
						<tab select="renderCalender();">
				<!-- ****************************************************************Ajouter un évènement	*************************************************************** -->
						<tab-heading> <i class="glyphicon glyphicon-list"></i>Créer un évènement </tab-heading>
						<div class="span4">
						<h3>Options :</h3>
						</div>
						
						<div class="span8">
						<form>
						<div><label>nom :</label><input type="text"/></div>
						<div><label>dossier existant :</label>
						<input type="radio" name="dossier"/>oui 
						<input type="radio" name="dossier"/>non
						</div>
						<div><label>dossier :</label><select ng-model="">
								<option value="">nouveau</option>
								<option ng-repeat="" value="">
								{{}}</option>
							</select></div>
						<div><label>descritption :</label><textarea ></textarea></div>
						
						<div><label>document rattaché :</label><input type="file"/><button type="button"  ng-click="detailDos(event.idDos)" class="btn btn-warning">Ajouter un nouveau document</button></div>
						
						<div><label>date d'échéance :</label><input type="text"/></div>
						<div><label>année d'exercice :</label><input type="text"/></div>
						<div><label>montant :</label><input type="text"/></div>
						<div><label>nom :</label><input type="text"/></div>
						<div><label>mode de gestion :</label>
						<input type="radio" name="mdGestion">manuel 
						<input type="radio" name="mdGestion">en ligne
						</div>
						<div><label>lien :</label><input type="url"/></div>

						<div><label>responsable :</label><select ng-model="">
								<option value="">test</option>
								<option ng-repeat="" value="">
								{{}}</option>
							</select></div>
							<span class="btn boolean" ng-click=""
								ng-model="test"> <span class="on btn-primary"
								ng-show="test">ON</span> <span class="off btn-default"
								ng-hide="test">OFF</span>
							</span>					
						<div><label>périodicité :</label><select ng-model="">
								<option value="">hebdomadaire</option>
								<option value="">mensuel</option>
								<option value="">trimestriel</option>
								<option value="">annuel</option>
								<option ng-repeat="" value="">
								{{}}</option>
							</select></div>
						<div><label>libre :</label><textarea ></textarea></div>

							</form>
						</div>
						</tab> </tabset>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>

